@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

body {
  background: #000; }

/*--------------------*/
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Medium.eot");
  src: local("Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.eot");
  src: local("Geometria"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?wuj431");
  src: url("../fonts/icomoon.eot?wuj431#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?wuj431") format("truetype"), url("../fonts/icomoon.woff?wuj431") format("woff"), url("../fonts/icomoon.svg?wuj431#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-phone_in_talk:before {
  content: "\e900"; }

.icon-button:before {
  content: "\e901"; }

.icon-slaider-left:before {
  content: "\e902"; }

.icon-slaider-reght:before {
  content: "\e903"; }

.icon-coolicon:before {
  content: "\e904"; }

.icon-pointer-reght:before {
  content: "\e905"; }

.icon-cards:before {
  content: "\e906"; }

.icon-envelope:before {
  content: "\e907"; }

.icon-watsap:before {
  content: "\e909"; }

.icon-telegram:before {
  content: "\e90a"; }

.icon-facebook:before {
  content: "\e90b"; }

.icon-instagram-black:before {
  content: "\e90c"; }

.icon-instagram:before {
  content: "\e90d"; }

.icon-pointer:before {
  content: "\e90e"; }

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1240px) {
  .container {
    max-width: 1064px; } }

@media (max-width: 1064px) {
  .container {
    max-width: 1200px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.header-top {
  background: #2b2665;
  padding: 14px 0; }
  .header-top .container {
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  @media (max-width: 767px) {
    .header-top {
      background: #fff; } }

.header-top__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-top__icon-link {
  margin-right: 14px;
  font-size: 34px;
  color: #fff; }
  .header-top__icon-link:before {
    border-radius: 50%; }
  @media (max-width: 1064px) {
    .header-top__icon-link {
      font-size: 26px;
      margin-right: 9px; } }
  @media (max-width: 767px) {
    .header-top__icon-link {
      color: #2b2665; } }

.header-top__link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 45px; }
  .header-top__link span.header-top__link_icon {
    margin-right: 5px; }
  .header-top__link span.icon-phone_in_talk {
    font-size: 27px; }
  .header-top__link:last-child {
    margin-left: 25px; }
  @media (max-width: 1064px) {
    .header-top__link {
      font-size: 14px;
      margin-left: 25px; } }
  @media (max-width: 767px) {
    .header-top__link {
      display: none; } }

.logo-mb {
  width: 32px;
  position: relative;
  z-index: 1000; }
  .logo-mb img {
    width: 100%; }
  @media (min-width: 767.1px) {
    .logo-mb {
      display: none; } }

.logo-text {
  width: 122px;
  position: relative;
  z-index: 1000; }
  .logo-text img {
    width: 100%; }
  @media (min-width: 767.1px) {
    .logo-text {
      display: none; } }

.header-top__langvig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-top__langvig *:first-child {
    border-radius: 50%; }
  .header-top__langvig span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #fff;
    margin: 0 4px; }
  .header-top__langvig span.header-top__langvig_icon {
    font-size: 12px; }
  @media (max-width: 767px) {
    .header-top__langvig {
      position: relative;
      z-index: 10; }
      .header-top__langvig span {
        color: #2b2665; } }

.header-bottom .container {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 1064px) {
  .header-bottom {
    padding: 8px 0; } }

@media (max-width: 767px) {
  .header-bottom {
    display: none; } }

.header-bottom__logo {
  max-width: 194px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 194px;
  flex: 0 0 194px; }
  @media (max-width: 1540px) {
    .header-bottom__logo {
      max-width: calc(100px + 94 * ((100vw - 320px) / 1220)); } }
  .header-bottom__logo img {
    width: 100%; }
  @media (max-width: 1240px) {
    .header-bottom__logo {
      max-width: 120px; } }

.header-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.header-bottom__link {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #2b2665;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-bottom__link img {
    margin-left: 8px; }

.header-bottom__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 312px;
  flex: 0 0 312px;
  max-width: 312px;
  height: 56px;
  border-radius: 45px;
  background: #2b2665;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1540px) {
    .header-bottom__button {
      max-width: calc(200px + 112 * ((100vw - 320px) / 1220)); } }
  .header-bottom__button span.header-bottom__button_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #fff; }
    @media (max-width: 1540px) {
      .header-bottom__button span.header-bottom__button_text {
        font-size: calc(10px + 8 * ((100vw - 320px) / 1220)); } }
  .header-bottom__button span.header-bottom__button_icon {
    background: rgba(205, 222, 255, 0.3);
    color: #2b2665;
    font-size: 18px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 1540px) {
      .header-bottom__button span.header-bottom__button_icon {
        font-size: calc(10px + 8 * ((100vw - 320px) / 1220)); } }
    @media (max-width: 1540px) {
      .header-bottom__button span.header-bottom__button_icon {
        width: calc(17px + 12 * ((100vw - 320px) / 1220)); } }
    @media (max-width: 1540px) {
      .header-bottom__button span.header-bottom__button_icon {
        height: calc(17px + 12 * ((100vw - 320px) / 1220)); } }
  @media (max-width: 1240px) {
    .header-bottom__button {
      max-width: 220px; }
      .header-bottom__button span.header-bottom__button_icon {
        background: rgba(205, 222, 255, 0.3);
        color: #2b2665;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 22px;
        flex: 0 0 22px;
        height: 22px;
        font-size: 10px; }
      .header-bottom__button span.header-bottom__button_text {
        font-size: 14px;
        line-height: 16px; } }
  @media (max-width: 1064px) {
    .header-bottom__button {
      max-width: 260px; } }

@media (min-width: 1064px) {
  .header-logo_hover-link .header-logo_hover-img,
  .header-logo_hover-link .header-logo_hover-content {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header-logo_hover-link:hover .header-logo_hover-img {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 20; } }

.header__list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1280px) {
    .header__list {
      padding: 0 5px;
      padding-left: 15px; } }
  @media (max-width: 1064px) {
    .header__list {
      display: block; } }
  @media (min-width: 767px) {
    .header__list {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }
  @media (max-width: 767px) {
    .header__list {
      max-width: none;
      padding-left: 0;
      display: block !important; } }

.header__link {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 35px 20px;
  padding-left: 20px;
  padding-right: 20px;
  /*@media (max-width: 767px) {
		//display: inline-block !important;
		border-top: 1px solid rgba(18, 18, 18, 0.3);
		margin: 0 !important;

		&:last-child {
			border-bottom: 1px solid rgba(18, 18, 18, 0.3)
		}
		& > a {
			font-family: Onest;
			font-size: 40px;
			font-weight: 500;
			line-height: 56px;
			color: #696E7E;
		}
	}*/ }
  @media (max-width: 1540px) {
    .header__link {
      font-size: calc(10px + 10 * ((100vw - 320px) / 1220)); } }
  @media (max-width: 1540px) {
    .header__link {
      padding-left: calc(10px + 10 * ((100vw - 320px) / 1220)); } }
  @media (max-width: 1540px) {
    .header__link {
      padding-right: calc(10px + 10 * ((100vw - 320px) / 1220)); } }
  .header__link a {
    text-decoration: none !important;
    color: #2b2665; }
  @media (max-width: 1280px) {
    .header__link {
      font-size: 12px;
      padding-right: 17px;
      font-size: 18px; } }
  @media (max-width: 1064px) {
    .header__link {
      display: block !important;
      border-top: 2px solid #2b2665;
      margin: 0 !important;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 0;
      padding-right: 0; }
      .header__link:first-child {
        border-top: 2px solid rgba(43, 38, 101, 0); }
      .header__link > a {
        font-family: Inter;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        color: #2b2665;
        margin-bottom: 8px; }
      .header__link .header-button-mb {
        display: block;
        height: 100%;
        width: 90px;
        background: none;
        position: absolute;
        right: 0;
        top: 0; }
      .header__link .header-button-mb span {
        display: block;
        height: 100%;
        width: 100%;
        position: relative; }
      .header__link .header-button-mb span:before {
        position: absolute;
        left: 50%;
        top: 32px;
        -webkit-transform: translateX(-50%) rotate(0deg);
        -ms-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        font-size: 17px;
        color: #2b2665; }
      .header__link .header-button-mb._active span:before {
        -webkit-transform: translateX(-50%) rotate(180deg);
        -ms-transform: translateX(-50%) rotate(180deg);
        transform: translateX(-50%) rotate(180deg); }
      .header__link._header-list-wrapper {
        padding-bottom: 8px; } }
  @media (max-width: 480px) {
    .header__link > a {
      font-size: 30px;
      line-height: 42px; } }
  @media (max-width: 360px) {
    .header__link > a {
      font-size: 24px;
      line-height: 33px; } }
  @media (min-width: 1064.1px) {
    .header__link button {
      max-height: 0 !important;
      display: none; } }

.header__link_title {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: none;
  text-align: left;
  /*&:before {
		content: "";
		display: inline-block;
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%) rotate(90deg);
		width: 0;
		height: 0;
		transition: all 0.3s ease 0s;

		border-top: 4.5px solid transparent;
		border-left: 7px solid #fff;
		border-bottom: 4.5px solid transparent;
	}*/
  /*@media (max-width: 970px) {
		& a {
			font-size: 14px;
		}
	}*/ }
  .header__link_title a {
    text-decoration: none !important;
    position: relative;
    z-index: 10;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2b2665; }
    @media (max-width: 1540px) {
      .header__link_title a {
        font-size: calc(10px + 10 * ((100vw - 320px) / 1220)); } }
  .header__link_title a:before,
  .header__link_title a:after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 2px;
    background: #2b2665;
    right: -12px;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__link_title a:before {
    -webkit-transform: translateY(-50%) rotate(43deg);
    -ms-transform: translateY(-50%) rotate(43deg);
    transform: translateY(-50%) rotate(43deg); }
  .header__link_title a:after {
    right: -16px;
    -webkit-transform: translateY(-50%) rotate(-43deg);
    -ms-transform: translateY(-50%) rotate(-43deg);
    transform: translateY(-50%) rotate(-43deg); }
  @media (max-width: 1280px) {
    .header__link_title {
      /*&:before {
			right: 0;
		}*/ } }
  @media (max-width: 1064px) {
    .header__link_title {
      display: inline-block !important;
      padding-right: 120px;
      padding-bottom: 12px; }
      .header__link_title a {
        font-family: Inter;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        color: #2b2665; }
      .header__link_title a:before,
      .header__link_title a:after {
        display: none !important; } }
  @media (max-width: 480px) {
    .header__link_title {
      padding-right: 90px; }
      .header__link_title a {
        font-size: 30px;
        line-height: 42px; } }
  @media (max-width: 360px) {
    .header__link_title a {
      font-size: 24px;
      line-height: 33px; } }

/*.header__link_icon {
	content: "";
	display: inline-block;
	//position: absolute;
	position: relative;
	width: 12px !important;
	height: 2px !important;
	background: rgba(43, 38, 101, 1);
	right: -15px;
	top: 50%;
	//transform: translateY(-50%) rotate(90deg);
	width: 0;
	height: 0;
	transition: all 0.3s ease 0s;

	border-top: 4.5px solid transparent;
	border-left: 7px solid rgba(43, 38, 101, 1);
	border-bottom: 4.5px solid transparent;

	@media (max-width: 1280px) {
		right: 0;
	}
	@media (max-width: 767px) {
		border-left: 7px solid #696E7E;
		position: relative;
		top: 48%;
		display: none;
	}
}*/
.menu__list > li {
  position: relative; }

.menu__link {
  color: #fff; }

.menu__sub-list {
  position: absolute;
  top: 90%;
  left: 0px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px 15px;
  min-width: 214px; }
  @media (min-width: 1064.1px) {
    .menu__sub-list.menu__sub-list_while-bacgraund {
      -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2); } }
  @media (max-width: 1064px) {
    .menu__sub-list {
      border-radius: 0 !important;
      -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0) !important;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0) !important;
      padding-left: 0;
      position: relative; } }

.menu__sub-list li {
  margin: 0 0 10px 0; }

.menu__sub-list li:last-child {
  margin: 0; }

.menu__sub-link {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #2b2665; }
  @media (max-width: 767px) {
    .menu__sub-link {
      font-family: Onest;
      font-size: 16px !important;
      font-weight: 500;
      line-height: 21px !important;
      color: #1A1B22 !important; } }
  @media (max-width: 360px) {
    .menu__sub-link {
      font-size: 14px !important;
      line-height: 18px !important; } }

.menu__arrow {
  display: none; }

/*===================================*/
@media (min-width: 1064.1px) {
  body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    pointer-events: all; }
  body._pc .menu__list > li:hover .header__link_title .header__link_icon {
    -webkit-transform: translateY(-50%) rotate(30deg);
    -ms-transform: translateY(-50%) rotate(30deg);
    transform: translateY(-50%) rotate(30deg); }
  body._pc .menu__list > li:hover .header__link_title a:before {
    -webkit-transform: translateY(-50%) rotate(-43deg);
    -ms-transform: translateY(-50%) rotate(-43deg);
    transform: translateY(-50%) rotate(-43deg); }
  body._pc .menu__list > li:hover .header__link_title a:after {
    right: -16px;
    -webkit-transform: translateY(-50%) rotate(43deg);
    -ms-transform: translateY(-50%) rotate(43deg);
    transform: translateY(-50%) rotate(43deg); }
  body._pc .menu__list > li:hover .header__link_title a {
    text-decoration: none !important; } }

/*
.menu__sub-list._active {
	opacity: 1;
	visibility: visible;
	transform: translate(0,0);
	pointer-events: all;
}
.header__link_icon._active{
	transform: translateY(-50%) rotate(30deg);
}
.header__link_title._active a{
	color: #BDF3FF;
	text-decoration: none !important;
}*/
@media (max-width: 1064px) {
  .menu__sub-list._active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    pointer-events: all; }
  .header__link_icon._active {
    -webkit-transform: translateY(-50%) rotate(30deg);
    -ms-transform: translateY(-50%) rotate(30deg);
    transform: translateY(-50%) rotate(30deg); }
  .header__link_title._active a {
    color: #BDF3FF;
    text-decoration: none !important; } }

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  pointer-events: all; }

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

body._touch .menu__link {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #2b2665; }

@media (min-width: 1064px) {
  .menu__sub-list {
    -webkit-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; } }

/*===================================*/
.burger {
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff; }
  @media (min-width: 1064.1px) {
    .burger {
      display: none; } }

.burger-button {
  height: 56px;
  border-radius: 45px;
  background: #1fc8a5;
  padding: 0 30px;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .burger-button span.burger-button_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #fff; }
  .burger-button span.burger-button_icon {
    background: rgba(255, 255, 255, 0.3);
    color: #1fc8a5;
    font-size: 16px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.burger-footer {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 1064px) {
  .header-top_mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.menu__icon {
  display: none; }

@media (max-width: 1064px) {
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 24px; }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #fff; }
  .menu__icon::before,
  .menu__icon::after {
    content: ""; }
  .menu__icon::before {
    top: 0; }
  .menu__icon::after {
    bottom: 0; }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%); }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
    background: #2b2665; }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%);
    background: #2b2665; }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%);
    background: #2b2665; }
  .menu__body {
    padding: 70px 20px 30px 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .menu__body._active {
    right: 0; }
  /*.menu__body::before{
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background: #912105;
		z-index: 2;
	}*/
  /*.menu__list > li {
		flex-wrap: wrap;
		margin: 0 0 30px 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__link {
		font-size: 24px;
	}
	.menu__sub-list {
		position: relative;
		background: #fff;
		flex: 1 1 100%;
		margin: 20px 0 0 0;
		display: none;
	}

	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}*/ }

@media (max-width: 767px) {
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    background: #2b2665; } }

.index-blok {
  background-image: url("../img/index-blok/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0 120px; }
  @media (max-width: 1064px) {
    .index-blok {
      display: none; } }

.index-blok__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.index-blok__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%; }

.index-blok-header {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 18px;
  max-width: 365px;
  margin-bottom: 20px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.index-blok-header__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 99px;
  flex: 0 0 99px; }
  .index-blok-header__img img {
    width: 100%; }

.index-blok-header__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 14px; }

.index-blok-header__title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #fff; }

.index-blok-header__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #fff; }

.index-blok__title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  color: #fff;
  margin-bottom: 34px; }

.index-blok__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 312px;
  flex: 0 0 312px;
  max-width: 312px;
  height: 56px;
  border-radius: 45px;
  background: #1fc8a5;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .index-blok__button span {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #fff; }

.text-blok {
  padding: 60px 0; }
  @media (max-width: 1064px) {
    .text-blok {
      display: none; } }

.text-blok__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.text-blok__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }
  .text-blok__img img {
    width: 100%; }

.text-blok__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%; }

.text-blok__title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  color: #1a1b1e;
  padding: 12px 0;
  margin-bottom: 20px;
  position: relative; }
  .text-blok__title span {
    color: #2b2665; }
  .text-blok__title:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    max-width: 312px;
    background: #2b2665; }

.text-blok__text {
  margin-bottom: 12px; }
  .text-blok__text p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #1a1b1e;
    margin-bottom: 17px; }
  .text-blok__text p:last-child {
    margin-bottom: 0px; }
  .text-blok__text p span {
    color: #2b2665; }

.text-blok__button {
  max-width: 348px;
  height: 59px;
  border-radius: 49px;
  border: 1px solid #2b2665;
  padding: 0 30px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .text-blok__button span {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #2b2665; }

.statistics {
  background: #2b2665;
  padding: 60px 0; }
  @media (max-width: 1064px) {
    .statistics {
      display: none; } }

.statistics__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 155px; }

.statistics-blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 70px 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .statistics-blok img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; }

.statistics-blok__title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 4px; }

.statistics-blok__sub-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin-bottom: 4px; }

.statistics-blok__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #fff; }

.diseases {
  padding: 60px 0; }
  @media (max-width: 1064px) {
    .diseases {
      display: none; } }

.diseases__title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  margin-bottom: 20px;
  color: #1a1b1e; }

.diseases__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.diseases-blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31%;
  flex: 0 0 31%;
  background: -webkit-gradient(linear, left top, left bottom, from(#E6EBFF), to(#F2F4FF));
  background: -webkit-linear-gradient(top, #E6EBFF 0%, #F2F4FF 100%);
  background: -o-linear-gradient(top, #E6EBFF 0%, #F2F4FF 100%);
  background: linear-gradient(180deg, #E6EBFF 0%, #F2F4FF 100%);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px; }

.diseases-blok__img {
  height: 80px;
  margin-bottom: 14px; }
  .diseases-blok__img img {
    height: 100%; }

.diseases-blok__title {
  font-family: Inter;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 17px;
  color: #1a1b1e; }

.diseases-blok__list p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #1a1b1e;
  padding-left: 15px;
  position: relative; }

.diseases-blok__list p:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  display: block;
  left: 2px;
  top: 12px;
  background: #1a1b1e; }

.diseases-button {
  border: 1px solid #2b2665;
  width: 215px;
  height: 59px;
  border-radius: 49px;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .diseases-button span {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #2b2665;
    padding-right: 7px; }
